/* Citation: Button style >> https://www.bestcssbuttongenerator.com/#/26 */

body, .login-page-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #E8F6F9;
}

.signup-title {
    font-size: 1.3rem;
    margin-top: 1rem;
}

.category {
    font-size: 1.1rem;
    font-weight: bold;
}

/****** Navigation Bar ********/

.sun {
    width: 5rem;
}

.navbar {
    background: url("../image/sky.png");
    background-size: cover;
    /* background-repeat: no-repeat; */
}

.nav-text {
    font-family: 'Gamja Flower', cursive;
    font-size: 2rem;
}

/****** Schedule Card *******/

.card-header{
    font-family: 'Gamja Flower', cursive;
    font-size: 30px;
    background: url("../image/sky.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: solid 0.01px #d3d3d3;
    border-radius: 1%;
    box-shadow: 5px 5px 5px #e5e5e5;
    background-color: white;
}

.instruction {
    color: #89d1da;
    font-size: 1rem;
}

.fa-calendar-plus, .fa-heart-circle-plus {
    color: #EF9F9F;
    font-size: 0.85rem;
    margin-right: 0.3rem;
}

.fa-delete-left {
    color: #89d1da;
    font-size: 0.85rem;
    margin-left: 0.3rem;
}

.day {
    font-size: 2rem;
}

.date {
    font-size: 1rem;
}

.memo {
    padding-left: 1.5rem;
    /* margin-bottom: 0.5rem; */
}

.links {
    color: black;
}

.edit-memo, .month-name {
    font-size: 1.3rem;
    margin-top: 0.8rem;
    margin-bottom: 0px;
}


/***** Buttons *******/

.add-day-btn, .day-view-btn, .create-day-btn, .weekly-btn, .create-schedule2-btn, .login-btn, .signup-btn, .monthly-btn, .edit-memo-btn {
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.add-day-btn:hover, .day-view-btn:hover, .create-day-btn:hover, .weekly-btn:hover, .create-schedule2-btn:hover, .login-btn:hover, .signup-btn:hover, .monthly-btn:hover, .edit-memo-btn:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.add-day-btn:active, .day-view-btn:active, .create-day-btn:active, .weekly-btn:active, .create-schedule2-btn:active, .login-btn:active, .signup-btn:active, .monthly-btn:active, .edit-memo-btn:active {
	position:relative;
	top:1px;
}

.login-btn {
    display: flex;
    justify-content: right;
    background-color: #FCD729;
    border-radius: 0.3rem;
}

.login-btn-container {
    display: flex;
    justify-content: right;
}

.btn-container, .day-view-btn-container {
    text-align: right;
    margin-top: 20px;
}

.day-view-btn-container2 {
    text-align: right;
    margin-top: 0px;
    margin-bottom: 20px;
}

.login-form {
    margin-top: 1rem;
}

/******** Photos *******/

.children, .children2, .children3, .smiling-girl, .rainbow-boy, .rain-girl  {
    margin-top: 0px;
    width: 100%;
    border-radius: 1%;
    box-shadow: 5px 5px 5px grey;
    margin-top: 20px;
}

.rain-girl {
    margin-bottom: 1.2rem;
}

.children-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.login-container{
    display: flex;
    justify-content: center;
}

.log-in {
    margin-top: 1rem;
    margin-right: 2rem;
    font-size: 1.5rem;
}


/******* Weekly View ******/
.week-of {
    font-family: 'Gamja Flower', cursive;
    font-size: 2rem;
    margin-bottom: 0px;
    margin-top: 10px;
}

.week-range, .week-date {
    font-size: 1.5rem;
}


/******* Footer *******/

footer {
    background: url("../image/sky.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    align-items: center;
    line-height: 2.5rem;
    font-size: 0.75rem;
    margin-top: 2rem;
}

.log-off {
   display: flex;
   justify-content: center;
}

.signup-photo {
    width:90%;
    margin-top: 2rem;
    margin-bottom: 20px;
    border: solid 0.01px #d3d3d3;
    border-radius: 1%;
    box-shadow: 5px 5px 5px #e5e5e5;
    background-color: white;

}

.bye-message{
    font-family: 'Gamja Flower', cursive;
}
