body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #E8F6F9;
}

.login-page-body {
    background-color: white !important;
}

.category {
    font-size: 1.1rem;
    font-weight: bold;
}

/****** Navigation Bar ********/

.sun {
    width: 5rem;
}

.navbar {
    background: url("../image/sky.png");
    background-size: cover;
    /* background-repeat: no-repeat; */
}

.nav-text {
    font-family: 'Gamja Flower', cursive;
    font-size: 2rem;
}

/****** Schedule Card *******/

.card-header{
    font-family: 'Gamja Flower', cursive;
    font-size: 30px;
    background: url("../image/sky.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: solid 0.01px #d3d3d3;
    border-radius: 1%;
    box-shadow: 5px 5px 5px #e5e5e5;
    background-color: white;
}

.instruction {
    color: #89d1da;
    font-size: 1rem;
}

.fa-calendar-plus, .fa-heart-circle-plus {
    color: #EF9F9F;
    font-size: 0.85rem;
    margin-right: 0.3rem;
}

.fa-delete-left {
    color: #89d1da;
    font-size: 0.85rem;
    margin-left: 0.3rem;
}

.day {
    font-size: 2rem;
}

.date {
    font-size: 1rem;
}

.memo {
    padding-left: 1.5rem;
    /* margin-bottom: 0.5rem; */
}

.links {
    color: black;
}

/***** Buttons *******/

.add-day-btn, .day-view-btn, .create-day-btn, .weekly-btn, .create-schedule2-btn {
    background-color: #FCD729;
    border-radius: 0.3rem;
}

.login-btn {
    display: flex;
    justify-content: right;
    background-color: #FCD729;
    border-radius: 0.3rem;
}

.login-btn-container {
    display: flex;
    justify-content: right;
}

.btn-container, .day-view-btn-container {
    text-align: right;
    margin-top: 20px;
}

.login-form {
    margin-top: 1rem;
}

/******** Photos *******/
.children, .children2 {
    width: 100%;
    border-radius: 1%;
    box-shadow: 5px 5px 5px #e5e5e5;
    margin-top: 20px;
}

.children3 {
    width: 80%;
    border-radius: 1%;
    box-shadow: 5px 5px 5px #e5e5e5;
    margin-top: 20px;
}

.children-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.login-container{
    display: flex;
    justify-content: center;
}

.log-in {
    font-family: 'Gamja Flower', cursive;
    margin-top: 1rem;
    margin-right: 2rem;
    font-size: 1.5rem;
}

/******* Weekly View ******/
.week-of {
    font-family: 'Gamja Flower', cursive;
    font-size: 2rem;
    margin-bottom: 0px;
    margin-top: 10px;
}

.week-range, .week-date {
    font-size: 1.5rem;
}

.smiling-girl {
    margin-top: 0px;
    width: 100%;
    border-radius: 1%;
    box-shadow: 5px 5px 5px #e5e5e5;
    margin-top: 20px;
}

/******* Footer *******/

footer {
    background: url("../image/sky.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    align-items: center;
    line-height: 2.5rem;
    font-size: 0.75rem;
    margin-top: 2rem;
}

.log-off {
   display: flex;
   justify-content: center;
}

.children_plus_illustration {
    width:80%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: solid 0.01px #d3d3d3;
    border-radius: 1%;
    box-shadow: 5px 5px 5px #e5e5e5;
    background-color: white;

}

.bye-message{
    font-family: 'Gamja Flower', cursive;
}
