{% extends 'base.html' %}
{% load humanize %}
{% block title %}Daily View{% endblock %}
{% block content %}
<div class="upper-container">
<div class="children-container">
    <img class="children" src="../static/image/children.png" alt="smiling children">
</div>
<div class="btn-container">
    <a href="{% url 'weekly_schedule' %}"><button class="weekly-btn">Weekly View</button></a>
    <a href="{% url 'weekly_schedule' %}"><button class="weekly-btn">Monthly View</button></a>
    <a href="{% url 'day_create' %}"><button class="add-day-btn">Add New Day</button></a>
</div>
</div>
{% for day in days %}
<div class="card">
    <div class="card-header">
        <span class="day">{{day.date|naturalday|capfirst}}</span> <span class="date">{{day.date}}</span>
    </div>
    <div class="card-body">
        <span class="instruction">* Click contents to edit.</span><br>
        <a class ="links" href="{% url 'schedule_create2' day.id %}"><i class="fa-solid fa-calendar-plus"></i></a><span class="category">Schedule</span>
        <ul>
            {% for schedule in day.schedules.all %}
            <li><a class ="links" href="/schedule/{{schedule.id}}/update">{{schedule.time}}</a> | <a class ="links" href="/schedule/{{schedule.id}}/update">{{schedule.content}}</a>
            <a href="/schedule/{{schedule.id}}/delete"><i class="fa-solid fa-delete-left"></i></a>      
            {% endfor %}
        </ul>
        <a class ="links" href="/memo/{{day.id}}/update"><i class="fa-solid fa-heart-circle-plus"></i></a><span class="category">Memo</span><br>
        <span class="memo"><a class ="links" href="/memo/{{day.id}}/update">{{day.memo}}</a>
        </span>              
    </div>
</div>
{% endfor %}
{% endblock %}