{% extends 'base.html' %}
{% block title %}Edit Memo{% endblock %}
{% block content %}
<h1 class="edit-memo">Edit Memo</h1>
<img class="rain-girl" src="/static/image/rain-girl.jpg" alt="a little girl playing in rain">
<div class="day-view-btn-container2">
  <a href="{% url 'daily_schedule' %}"><button class="day-view-btn">Daily View</button></a>
  <a href="{% url 'weekly_schedule' %}"><button class="weekly-btn">Weekly View</button></a>
  <a href="{% url 'monthly_schedule' %}"><button class="monthly-btn">Monthly View</button></a>
</div>
<form action="" method="post">
  {% csrf_token %} 
  {{form.as_p}} 
  <input class="edit-memo-btn" type="submit" value="Submit Change" />
</form>

{% endblock %}