{% extends 'base.html' %}
{% block content %}
<h1 class="month-name">{{current_month}}</h1>
<div class="upper-container">
    <div class="children-container">
        <img class="rainbow-boy" src="../static/image/rainbow-boy.jpg" alt="a boy drawing rainbow on window">
    </div>
    <div class="btn-container">
        <a href="{% url 'daily_schedule' %}"><button class="weekly-btn">Daily View</button></a>
        <a href="{% url 'weekly_schedule' %}"><button class="weekly-btn">Weekly View</button></a>
        <a href="{% url 'day_create' %}"><button class="add-day-btn">Add New Day</button></a>
    </div>
</div>
<!-- Need to display Calendar -->
{% endblock %}