{% extends 'base.html' %}
{% block content %}
<h1>{{first_day}} - {{last_day}}</h1>
<div class="upper-container">
    <div class="children-container">
        <img class="smiling-girl" src="../static/image/smiling-girl.png" alt="a smiling girl in yellow t-shirt">
    </div>
    <div class="btn-container">
        <a href="{% url 'daily_schedule' %}"><button class="weekly-btn">Daily View</button></a>
        <a href="{% url 'weekly_schedule' %}"><button class="weekly-btn">Weekly View</button></a>
        <a href="{% url 'day_create' %}"><button class="add-day-btn">Add New Day</button></a>
    </div>
</div>
<!-- Need to display Calendar -->
{% endblock %}