{% extends 'base.html' %} 
{% block title %}Delete Schedule{% endblock %}
{% block content %}
<h1 class="delete-confirmation">Are you sure you want to delete this schedule?</h1>
<form method="post">
    {% csrf_token %}
    <div class="buttons">
        <a href="{% url 'daily_schedule' %}"><button class="btn">Delete</button></a>
        <a href="{% url 'daily_schedule' %}"><button class="btn">Cancel</button></a>
    </div>
</form>
{% endblock %}

<a href="{% url 'weekly_schedule' %}"><button class="btn">Weekly View</button></a>