{% extends 'base.html' %}
{% block title %}New Schedule{% endblock %}
{% block content %}
<div class="children-container">
    <img class="children" src="/static/image/three-photos.png" alt="smiling children">
</div>

<div class="day-view-btn-container">
    <a href="{% url 'daily_schedule' %}"><button class="btn">Daily View</button></a>
    <a href="{% url 'weekly_schedule' %}"><button class="btn">Weekly View</button></a>
    <!-- <a href="{% url 'monthly_schedule' %}"><button class="btn">Monthly View</button></a> -->
</div>

<div class="card">
    <div class="card-header">
        Add New Schedule
    </div>
    <div class="card-body">
        <form method="post" action=""> 
            {% csrf_token %}
            {{form.as_p}}
            <input class="btn" type="submit" value="Add New Schedule" />
        </form>
    </div>
</div>

{% endblock %}