{% extends 'base.html' %}
{% block content %}
<h1 class="week-of">Week <span class="week-range">{{first_day}} - {{last_day}}</span></h1>
<div class="upper-container">
    <div class="children-container">
        <img class="smiling-girl" src="../static/image/smiling-girl.png" alt="a smiling girl in yellow t-shirt">
    </div>
    <div class="btn-container">
        <a href="{% url 'daily_schedule' %}"><button class="weekly-btn">Daily View</button></a>
        <a href="{% url 'monthly_schedule' %}"><button class="monthly-btn">Monthly View</button></a>
        <a href="{% url 'day_create' %}"><button class="add-day-btn">Add New Day</button></a>
    </div>
</div>

<!-- <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="..." class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div> -->


{% for day in days %}
<div class="card">
    <div class="card-header">
        <span>{{ day.date|date:" l " }}</span><span class="week-date">{{day.date}}</span>
    </div>
    <div class="card-body">
        <span class="instruction">* Click contents to edit.</span><br>
        <a class ="links" href="{% url 'schedule_create2' day.id %}"><i class="fa-solid fa-calendar-plus"></i></a>
        <span class="category">Schedule</span>
        <ul>
            {% for schedule in day.schedules.all %}
            <li><a class ="links" href="/schedule/{{schedule.id}}/update">{{schedule.time}}</a> | <a class ="links" href="/schedule/{{schedule.id}}/update">{{schedule.content}}</a>
                <a href="/schedule/{{schedule.id}}/delete"><i class="fa-solid fa-delete-left"></i></a>
            </li>
            {% endfor %}
        </ul>
        <a class ="links" href="/memo/{{day.id}}/update"><i class="fa-solid fa-heart-circle-plus"></i></a>
        <span class="category">Memo</span><br>
        <span class="memo"><a class ="links" href="/memo/{{day.id}}/update">{{day.memo}}</a>
            <a href="/memo/{{day.id}}/delete"><i class="fa-solid fa-delete-left"></i></a>
        </span>              
    </div>
</div>
{% endfor %}
{% endblock %}